<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weatherapp.videoapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.SearchActivity"></activity>
        <activity android:name=".ui.activity.ViewAllActivity" />
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SelectionActivity" />
        <activity android:name=".ui.activity.MyplaylistdataActivity" />
        <activity android:name=".ui.activity.CreatePlaylistActivity" />
        <activity android:name=".ui.activity.BollywoodActivity" />
        <activity android:name=".ui.activity.PlayvideoActivity3"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"/>
        <activity
            android:name=".ui.activity.PlayVideoActivity2"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout" />
        <activity
            android:name=".ui.activity.PlayVideoActivity"
            android:supportsPictureInPicture="true" />
        <activity android:name=".ui.activity.DashboardActivity" />

    </application>

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>